.ProvinceTableDiv {
    margin-top: 4rem;
}

.ProvinceTable {
    box-sizing: border-box;
    padding: 2rem;
    margin: 0 auto 2rem auto;
}

.ProvinceTable tr:nth-child(2n+3) {
    background-color: #eee;
}

.ProvinceTable tr td {
    padding: 1rem;
    border: 2px solid white;
}

.ProvinceTable_HeaderRow {
    background-color: var(--primary-color);
    color: white;
}
