.Select {
    outline-style: none;    
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .5);
    font-size: var(--default-font-size);
    height: 5rem;
    padding: 1.05rem 4rem .95rem 2rem;
    border-radius: 1rem;
    width: 100%;

    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24px' viewBox='0 0 24 24' width='24px' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-size: 3rem 3rem;
    background-position-x: calc(100% - .5rem);
    background-position-y: 1rem;
}

.Select:focus {
    box-shadow: inset 0 0 0.5rem var(--action-color-translucent);
}
