.HomeButton {
    position: relative;
    display: inline-block;
    width: var(--header-height);
    height: var(--header-height);
}

.HomeButton svg {
    position: absolute;
    left: calc((var(--header-height) - 24px) / 2);
    top: calc((var(--header-height) - 24px) / 2);
    transition: all .2s;
    transform: scale(1.5);
}

.HomeButton svg:hover {
    transform: scale(1.75);
    filter: drop-shadow( 0 4px 4px rgba(0, 0, 0, .5));
}

.HomeButton svg:active {
    transform: translateY(1px) scale(1.05); 
    filter: drop-shadow( 0 2px 2px rgba(0, 0, 0, .3));
}