.SideBarContent {
    background-color: var(--primary-color-dark);
    color: var(--primary-color-light);
    font-size: 1.6rem;
    height: 100vh;
    position: fixed;
    width: 50rem;
    max-width: 80vw;
    right: 0;
    top: 0;
    border-left: 1px solid rgba(0, 0, 0, .5);
    z-index: 20;
    transition: all .6s;
    padding: 2rem;
    box-sizing: border-box;
}

.SideBarText {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.SideBarText p:not(:last-child) {
    margin-bottom: 1.5rem;
}

.CloseIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    transform: translate(-32px, 8px);
    cursor: pointer;
}

.CloseIcon svg {
    transform: scale(1.5);
    transition: all .2s;
}

.CloseIcon svg:hover {
    transform: scale(1.75);
}

.Link:link,
.Link:visited {
    text-decoration: none;
    color: var(--primary-color-light);
    cursor: pointer;
}

.Link:hover {
    color: white;
}