.SalarySearch {
    margin-top: calc(var(--header-height) + 4rem);
}

.SalarySearch p {
    margin-bottom: 2rem;
}

.OccupationSelect {
    display: inline-block;
    max-width: calc(var(--page-width) * .7);
}

.Fetching {
    margin-top: 2rem;
    color: var(--primary-color);
    font-size: 2rem;
    animation: breatheAnimation 1s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes breatheAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .25;
    }
    100% {
        opacity: 1;
    }
}

.NoData {
    margin-top: 2rem;
}

.NoDataParagraph {
    display: block;
    margin-bottom: 1rem;
}

.MedianValue {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 700;
}