.PageBlock {
    width: 100%;
    padding: 6rem 0;
}

@media (max-width: 599px) {
    .PageBlock {
        padding: 3rem 0;
    }
}

.BackgroundPrimary {
    background-image: 
        linear-gradient(
            to right bottom,
            var(--primary-color-translucent), 
            var(--primary-color2-translucent)), 
        url("./../../../images/sky.jpg");
    background-size: cover;
    background-position: center;    
}

.BackgroundPrimaryDark {
    background-image: 
        linear-gradient(
            to right bottom,
            var(--primary-color-dark), 
            var(--primary-color)); 
    background-color: var(--primary-color-dark);
}

.BackgroundPrimaryLight {
    background-color: var(--primary-color-light);
}