.Modal {
    position: fixed;
    top: 15rem;
    left: calc(50% - 250px);
    width: 500px;
    z-index: 99;
    background-color: white;
    border-radius: 1rem;
    border-top-right-radius: 18px;
    border: 1px solid rgba(var(0, 0, 0, .5));
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, .5);
    padding: 2rem 3rem;
    box-sizing: border-box;
    animation: fadein .5s;
}

.CloseIcon {
    position: absolute;
    top: 0px;
    left: 100%;
    width: 24px;
    height: 24px;
    transform: translate(-32px, 5px);
    cursor: pointer;
}

.CloseIcon svg {
    transform: scale(1.5);
    transition: all .2s;
}

.CloseIcon svg:hover .HoverStyle {
    fill: black;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (max-width: 499px) {
    .Modal {
        width: 300px;
        left: calc(50% - 150px);
    }
    .CloseIcon {
        transform: translate(-32px, 8px);
    }
}