.Backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(.2rem);
    animation: fadein .5s;
    z-index: 10;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.Dark {
    background-color: rgba(0, 0, 0, .8);
}

.Light {
    background-color: rgba(255, 255, 255, .9);
}