.AppLogo {
    font-family: 'Kaushan Script', cursive;
    font-size: 4rem;
    color: var(--hilite-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, .3);
    text-decoration: none;
    cursor: pointer;
}

.AppLogo:hover {
    color: var(--hilite-color);
    text-decoration: none;
}