.Button {
    display: inline-block;
    box-sizing: border-box;
    border: none;
    min-width: 12rem;
    font-size: var(--default-font-size);
    height: 5rem;
    line-height: 5rem;
    padding: 0 2rem;
    color: white;
    background-color: var(--action-color);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 1rem;
    transition: all .2s;
}

.SecondaryButton {
    border: 1px solid var(--action-color);
    background-color: white;
    color: var(--action-color);
}

.Button div {
    line-height: 4.7rem;
}

.SecondaryButton div {
    line-height: 4.7rem;
}

.FixedWide {
    width: 50rem;
    display: block;
    margin: 1rem auto;
    padding: 0 2rem;
}

@media (max-width: 599px) {
    .FixedWide {
      width: 40rem;
    }
}

.Button:hover:not(:disabled) {
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, .4);
    background-color: var(--action-color-dark);
    transform: scale(1.025);
    cursor: pointer;
}

.SecondaryButton:hover:not(:disabled) {
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, .2);
    background-color: white;
}

.Button:active:not(:disabled) {
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, .2);
    transform: translateY(1px) scale(1.01);
}

.Disabled {
    opacity: .5;
    pointer-events:none;
}