.SubmitSalary {
    margin-top: calc(var(--header-height) + 4rem);
    margin-bottom: 4rem;
}

.SubmitSalary table {
    font-size: 2.2rem;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25);
    border-radius: 1rem;
    padding: 2rem 3rem;
    color: var(--primary-color);
    margin: 4rem auto;
    overflow-wrap: break-word;
}

.SubmitSalary table tr td {
    padding-right: 2rem;
    white-space: pre-line;
}

.SubmitSalary p {
    margin-bottom: 2rem;
}