.Home {
    height: 100vh;
    background-color: var(--primary-color-light);
}

.Home p {
    margin-bottom: 1rem;
}

.HomeLogo {
    font-family: 'Kaushan Script', cursive;
    font-size: 8rem;
    text-align: center;
    color: var(--hilite-color);
    text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, .2);
}

.ButtonIcon {
    float: left;
    width: 24px;
    height: 24px;
    transform: translateY(1.1rem);
}

@media (max-width: 599px) {
    .ButtonIcon {
        width: 20px;
        height: 20px;
        transform: translate(-6px, .8rem);
    }
}
  
.SmallSuperscript {
    display: inline-block;
    font-size: 3rem;
    transform: translate(1.5rem, -3rem);
}

.QuoteLike {
    font-family: 'Lato Italic', sans-serif;
    font-size: 2rem;
}

.WithAirAround {
    margin: 2rem;
}

.row {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 2rem;
    /* "clearfix */
    content: "";
    display: table;
    clear: both;
    color: white;
}

.col1 {
    padding: 1rem;
    float: left;
    margin-right: var(--column-gutter);
    visibility: visible;    
}
.col2 {
    padding: 1rem;
    float: left;
    margin-right: var(--column-gutter);
    visibility: visible;    
}
.col3 {
    padding: 1rem;
    float: left;
    visibility: visible;    
}

.col1of3 {
    box-sizing: border-box;
    display: inline-block;
    width: calc((100% - 2 * var(--column-gutter)) / 3);
}

.Footer {
    position: fixed;
    display: inline-block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    background-color: var(--primary-color-darkest-translucent);
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.TinyVersionInfo {
    font-size: .5rem;
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: .25rem;
}

@media (max-width: 560px) {
    .col1 {
        display: none;
    }

    .col1of3 {
        width: calc((100% - var(--column-gutter)) / 2);
    }    
}

@media (max-width: 1023px) {
    .TinyVersionInfo {
        display: none;
    }
}

@media (max-width: 450px) {
    .ExtraInfo {
        display: none;
    }
}

.AppearQuick {
    animation: appear .5s ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: .1s;
}

.AppearMedium {
    animation: appear 0.5s ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: .2s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}