.Statistics {
    margin-top: calc(var(--header-height) + 4rem);
}

.Statistics p {
    margin-bottom: 2rem;
}

.InfoError,
.InfoNotEnoughData,
.InfoNotQuiteEnoughData,
.InfoOKData {
    padding: 2rem;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 1rem;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .25);
    margin-bottom: 2rem;
}

.InfoError {
    color: black;
}

.InfoNotEnoughData {
    color: #800;
    font-weight: 700;        
}

.InfoNotQuiteEnoughData {
    color: #840;
}

.InfoOKData {
    color: black;
}

.WithAir {
    display: block;
    margin-top: 5rem;
    box-sizing: border-box;
}

.Fetching {
    margin-top: 2rem;
    color: var(--primary-color);
    font-size: 2rem;
    animation: breatheAnimation 1s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes breatheAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .25;
    }
    100% {
        opacity: 1;
    }
}