.InfoIconWithHoverPopup {
    position: relative;
    display: inline-block;
    margin-left: 1rem;
    transform: translateY(.2rem);
    z-index: 2;
}

.InfoIconWithHoverPopup p {
    margin-bottom: 2rem;
}

.Popup {
    visibility: hidden;
    position: absolute;
    top: -1rem;
    left: 4rem;
    width: 25rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 2rem;
    padding: 2rem 2rem 0rem 2rem;    
    box-shadow: 0 .2rem 2rem rgba(0, 0, 0, .2);
    transform: translateY(-50%);
}

.InfoIconWithHoverPopup:hover .Popup {
    visibility: visible;
}

@media (max-width: 499px) {
    .InfoIconWithHoverPopup {
        display: none;
    }
}

.InfoIcon {
    position: absolute;
    top: -3rem;
    left: 0;
    animation: Advertise 1s ease-in-out;
    animation-iteration-count: 2;
}

@keyframes Advertise {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    10% {
        transform: scale(1);
    }
}