.Input {
    outline-style: none;    
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .5);
    display: inline-block;
    font-size: var(--default-font-size);
    height: 5rem;
    padding: 1.05rem 2rem .95rem 2rem;
    border-radius: 1rem;
    transition: all .2s;
    width: 100%;
}

.InputNormalWidth {
    max-width: 100%;
}

.InputSmallWidth {
    max-width: 15rem;
}

.Input:focus {
    box-shadow: inset 0 0 0.5rem var(--action-color-translucent);
}
