.ThreeStepProgress {
    position: relative;
    width: calc(100% - 3rem);
    height: 6rem;
    max-width: calc(var(--page-width) * .7);
    margin: 0 auto;
}

.ConnectorLine {
    position: absolute;
    top: 3rem;
    left: 1rem;
    width: calc(100% - 2rem);
    height: 2px;
    background-color: var(--primary-color);
    z-index: 0;
}

.Step {
    position: absolute;
    top: 0;
    width: 6rem;
    height: 6rem;
    border-radius: 100rem;
    border: 2px solid rgba(0, 0, 0, 0);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    line-height: calc(6rem - 4px);
    z-index: 1;
}

.StepActive {
    background-color: var(--primary-color);
    color: white;
    animation: ShowActive 1s ease-in-out;
}

@keyframes ShowActive {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    10% {
        transform: scale(1);
    }
}

.StepComing {
    border: 2px solid var(--primary-color);
    background-color: white;
    color: black;
}

.StepDone {
    background-color: var(--action-color);
    color: white;
}

.Step1 {
    left: 0;
}

.Step2 {
    left: calc(50% - 3rem);
}

.Step3 {
    right: 0;
}