.QuestionButton {
    position: fixed;
    top: 0;
    right: 0;
    display: inline-block;
    width: var(--header-height);
    height: var(--header-height);
    z-index: 6;
}

.QuestionButton svg {
    position: absolute;
    left: calc((var(--header-height) - 24px) / 2);
    top: calc((var(--header-height) - 24px) / 2);
    transition: all .2s;
    transform: scale(1.3);
}

.QuestionButton svg:hover {
    transform: scale(1.55);
    filter: drop-shadow( 0 4px 4px rgba(0, 0, 0, .5));
}

.QuestionButton svg:active {
    transform: translateY(1px) scale(1.05); 
    filter: drop-shadow( 0 2px 2px rgba(0, 0, 0, .3));
}