.ChallengePicsRow {
    display: block;
    height: 9rem;
}

.ChallengeSpinner {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    line-height: 26rem;
    width: 30rem;
    height: 18rem;
    transform: translateY(-4rem);
}

.ChallengeLoading {
    box-sizing: border-box;
    width: 10rem;
    height: 10rem;
}

.ChallengeSending {
    color: var(--primary-color);
    font-size: 3rem;
    animation: breatheAnimation 1s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes breatheAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .25;
    }
    100% {
        opacity: 1;
    }
}

.ChallengePics {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 15rem;
    height: 15rem;
    clip-path: inset(4rem 0 2rem 0);
    transform: translateY(-4rem);
}

.AlertColor {
    color: var(--primary-color);
    animation: alertUser 1s ease-in-out;
}

@keyframes alertUser {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}