html {
  font-size: 55%;
}

@media (max-width: 599px) {
  html {
    font-size: 40%;
  }
}

@font-face {
  font-family: 'Kaushan Script';
  src: local('Kaushan Script'), url(./fonts/KaushanScript-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato Italic';
  src: local('Lato Italic'), url(./fonts/Lato-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato Light Italic';
  src: local('Lato Light Italic'), url(./fonts/Lato-LightItalic.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  outline-style: none;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: var(--default-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  color: var(--primary-color-light);
  font-size: var(--code-font-size);
}