/* Variables */

:root {
    --primary-color: rgb(1, 133, 194);
    --primary-color-translucent: rgba(1, 133, 194, .85);
    --primary-color2-translucent: rgba(19, 177, 250, 0.85);
    --primary-color-dark: rgb(0, 92, 134);
    --primary-color-darkest-translucent: rgba(0, calc(92*.5), calc(134*.5), .9);
    --primary-color-light: rgb(145, 216, 248);
    --action-color: rgb(9, 138, 52);
    --action-color-dark: rgb(calc(9*.8), calc(138*.8), calc(52*.8));
    --action-color-translucent: rgba(9, 138, 52, .75);
    --hilite-color: rgb(249, 252, 210);
    --page-width: 114rem;
    --column-gutter: 4rem;
    --header-height: 8rem;
    --default-font-size: 2rem;
    --code-font-size: 1.5rem;
  }
  
  /* Common utility styles */

.fancy-title {
    font-size: 4rem;
    font-family: 'Kaushan Script', cursive;  
    padding-bottom: 1rem;
  }

  .hilite-color {
    color: var(--hilite-color);
  }
    
  .input-info {
    display: block;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .small-input-field {
    width: 15rem;
  }
  
  .centered {
    margin: 0 auto;
    text-align: center;
  }
  
  .left-justified {
    text-align: left;
  }
  
  .r-margin-small {
    margin-right: .8rem;
  }
  
  .t-margin-small {
    margin-top: 2rem;
  }
  
  .b-margin-small {
    margin-bottom: 2rem;
  }
  
  .b-margin-medium {
    margin-bottom: 4rem;
  }

  .t-margin-medium {
    margin-top: 4rem;
  }
  
  .vertical-gutter-big {
    margin-bottom: 4rem;
  }
  
  .narrow-text-box {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    width: 100%;
    max-width: calc(var(--page-width) * .7);
    content: "";
    display: table;
    clear: both;
  }
  
  .on-left {
    position: relative;
    float: left;
  }
  
  .on-right {
    position: relative;
    float: right;
  }