.SalaryInfoCard {
    display: block;
    background-color: white;
    padding: 2rem;
    margin-top: 4rem;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, .25);
    box-shadow: 0 .2rem 2rem rgba(0, 0, 0, .2);
}

.Occupation {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    display: block;
}