.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 5;

    background-image: 
    linear-gradient(
        to right bottom,
        var(--primary-color-dark), 
        var(--primary-color)); 
    background-color: var(--primary-color-dark);
}